.example{
    color: #fff;
    text-align: c;
}
.example-item{
    width: 33.333%;
    height: 150px;
    display: inline;
}
.example-item_second{
    background-color: #57c7c3;
}
.example-item_third{
    background-color: #389703;
}
h3{
    text-align: right;
    background-color: orange;
}